@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700;800&display=swap');
/*font-family: 'Noto Sans', sans-serif;*/

body {
    background: black;
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
}
.inner{
    width: 80%;
    margin: 0 auto;
}
body.popupOn{overflow: hidden}
body.popupOn .layerPop{display: block}

header,section{
    /*border: 1px solid #fff;*/
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

main{
    margin-top: 120px;
}


/*LayerPop*/
.layerPop{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    box-sizing: border-box;
}
.layerPop .imgModal{
    display: none;
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.layerPop .imgModal .img {
    text-align: center;
}

.layerPop .imgModal .img img{
    width: 100%;
    max-width: 100%;
}

.layerPop .imgModal .close{
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 25px;
    border-radius: 30px;
    color: #Fff;
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    padding-top: 7px;
    box-sizing: border-box;
    cursor: pointer;
}



/*Scroll Event Items*/
section .ani{
    transform: translateY(200px);
    opacity: 0;
}

section .ani.on{
    transform: translateY(0);
    opacity: 1;
    transition: 0.3s;
}

section .profileImgBox.ani.on{
    transition-delay: 0.3s;
}
section .rightBox.ani.on{
    transition-delay: 0.6s;
}
section .infoBtm.ani.on{
    transition-delay: 0.3s;
}


/*Page Indicator*/
.pageIndicator{}


/*Follow Cursor*/
.followCursor{
    position: fixed;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: #fff;
    transition: 120ms;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 9999;
}



/*Header*/
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #000;
    z-index: 1000;
}

.headerWrap {
    position: relative;
    margin: 0 80px;
    text-align: right;
    height: inherit;
}

.headerWrap .logo {
    position: absolute;
    left: 0;
    top: 30px;
}

.headerWrap .logo a {
    font-size: 44px;
    font-weight: 800;
    display: block;
}

.headerWrap nav .gnb {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.headerWrap nav .gnb li {
    display: inline-block;
}

.headerWrap nav .gnb li a {
    display: block;
    height: 120px;
    padding-top: 55px;
    box-sizing: border-box;
    width: 160px;
}

.headerWrap nav .gnb li a:hover {
    color: #F95700;
}

.headerWrap .headerIco {
    position: absolute;
    right: 0;
    top: 10px;
}

.headerWrap .headerIco img {
    display: block;
    animation: rotateImg 6s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes rotateImg {
    100%{transform: rotate(360deg);}
}
.header .popupBtn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    display: none;
    width: 22px;
    height: 18px;
    z-index: 100;
    cursor: pointer;
}
.header .popupBtn span {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: white;
    transition: 0.5s;
}
.header .popupBtn span:nth-child(1){
    top: 0;
}
.header .popupBtn span:nth-child(2),
.header .popupBtn span:nth-child(3){
    top: 50%;
}
.header .popupBtn span:nth-child(4){
    top: 100%;
}
.header .popupBtn.on span:nth-child(1){
    opacity: 0;
}
.header .popupBtn.on span:nth-child(2){
    transform: rotate(45deg);
}
.header .popupBtn.on span:nth-child(3){
    transform: rotate(-45deg);
}
.header .popupBtn.on span:nth-child(4){
    opacity: 0;
}

.header .menuPop {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.73);
}

.header .menuPop ul {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.header .menuPop ul li {
    text-align: center;
    font-size: 24px;
    color: #fff;
    padding: 10px;
    animation: menuPop 0.5s linear 1 both;
}
.header .menuPop ul li:nth-child(1) {
    animation-delay: 0.2s;
}
.header .menuPop ul li:nth-child(2) {
    animation-delay: 0.3s;
}
.header .menuPop ul li:nth-child(3) {
    animation-delay: 0.4s;
}
.header .menuPop ul li:nth-child(4) {
    animation-delay: 0.5s;
}
@keyframes menuPop {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


/*Intro Section*/
.intro {
    background-color: #000;
    width: 100%;

    /*height: 850px;*/
    display: flex;
    align-items: center;
    padding: 10% 0;

    position: relative;
    transition: all 0.8s;
    overflow: hidden;
}

.intro .introBg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    transform: scale(1.2);
    opacity: 0;
    visibility: visible;
    transition: all 1.2s;
}
.intro.on .introBg{
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.intro .textWrap {
    position: relative;
}

.intro .textWrap span {
    font-size: 4vw;
    font-weight: 200;
    display: block;
    margin-bottom: 20px;
    transition-delay: 0.1s;
}

.intro .textWrap strong {
    font-size: 6vw;
    font-weight: 700;
    display: block;
    margin-bottom: 90px;
    transition-delay: 0.3s;
}

.intro .textWrap p {
    font-size: 3vw;
    font-weight: 200;
    line-height: 1.5;
    transition-delay: 0.5s;
}

.intro .textWrap span,
.intro .textWrap strong,
.intro .textWrap p{
    opacity: 0;
    transform: translateX(-100%);
    transition: 0.8s;
}

.intro .textWrap.on span,
.intro .textWrap.on strong,
.intro .textWrap.on p{
    opacity: 1;
    transform: translateX(0);
}

.intro .shakeImg{
    position: absolute;
    left: 54%;
    top: 15%;
}

.intro .shakeImg img{
    width: 6vw;
    animation: shake 1s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0%{transform: translate(0px, 8px) rotate(0deg)}
    50%{transform: translate(0px, 0px) rotate(0deg)}
    100%{transform: translate(0px, 8px) rotate(0deg)}
}


/*About Section*/
.about {
    width: 100%;
    padding: 100px 0;
}

.aboutContents {
    display: flex;
}

.aboutContents .profileImgBox {
    width: 40%;
    margin-right: 60px;
}

.profileImgBox img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.aboutContents .rightBox {
    width: 60%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.aboutContents .rightBox .bgText {
    display: flex;
    justify-content: right;
}

.aboutContents .rightBox em {
    font-size: 9vw;
    font-weight: 800;
    opacity: 20%;
    font-style: italic;
    padding-right: 40px;
}

.aboutContents .rightBox .textWrap {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 30px;
}

.aboutContents .rightBox .textWrap strong {
    font-size: 32px;
    font-weight: 600;
    color: #F95700;
    display: block;
    margin: 0;
}

.aboutContents .rightBox .textWrap .contactList {
}

.aboutContents .rightBox .textWrap .contactList li {
    font-size: 18px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    padding-left: 38px;
    line-height: 30px;
}

.aboutContents .rightBox .textWrap .contactList li:nth-child(1) {
    background-image: url("../images/phone-solid 1.png");
}

.aboutContents .rightBox .textWrap .contactList li:nth-child(2) {
    background-image: url("../images/envelope-regular 1.png");
    margin-top: 10px;
}

.aboutContents .rightBox .textWrap p {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.3;
}



/*nfoArea Section*/
.infoArea {
    /*box-sizing: border-box;*/
    width: 70%;
    margin: 0 auto;
}

.infoArea .inner {
    /*width: 80%;*/
    /*margin: 0 auto;*/
}

.infoArea strong {
    font-size: 32px;
    color: #F95700;
    font-weight: 600;
    margin-bottom: 30px;
    display: block;
}

.infoTop {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: space-between;
    /*width: 50%;*/
    gap: 70px;
    /*margin: 0 auto;*/
}

.infoTop .experience {
}

.infoTop ul li {
    font-size: 16px;
    font-weight: 200;
    line-height: 1.8;
}

.infoBtm {
    display: flex;
    justify-content: left;
}

.infoBtm .tools ul {
    display: flex;
}

.infoBtm .tools ul li {
    margin-right: 30px;
}

.infoBtm .tools ul li img {
    width: 50px;
    height: 50px;
}


/*TextCard Section*/
.textCard {
    width: 80%;
    padding: 100px 0;
    margin: 0 auto;
}

.textCard .cardWrap {
    /*width: 100%;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*margin: 0 auto;*/
}

.textCard .cardWrap .card {
    position: relative;
    width: 350px;
    height: 350px;
    /*margin: 30px;*/
    /*box-sizing: border-box;*/
    cursor: pointer;
}
.textCard .cardWrap .card:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    border-radius: 50%;
    transition: 0.5s;
}

.textCard .cardWrap .card .cardImg {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.textCard .cardWrap .card:nth-child(1) .cardImg {
    background-image: url("../images/about-card-img01.png");
}

.textCard .cardWrap .card:nth-child(2) .cardImg {
    background-image: url("../images/about-card-img02.png");
}

.textCard .cardWrap .card:nth-child(3) .cardImg {
    background-image: url("../images/about-card-img02-1.png");
}
.textCard .cardWrap .card .cardTxt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    /*width: 300px;*/
    text-align: center;
    opacity: 0;
    transition: 0.5s;
}
.textCard .cardWrap .card span {
    font-size: 40px;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 2px #F95700;
    display: block;
    margin-bottom: 15px;
}

.textCard .cardWrap .card p {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
    /*white-space: pre-wrap;*/
}

.textCard .cardWrap .card.on:after{
    opacity: 1;
}

.textCard .cardWrap .card.on .cardTxt{
    opacity: 1;
}



/*RollingBanner Section*/
.rollingBanner{
    overflow: hidden;
    padding: 50px 0;
}
.rollingBanner .textWrap{
    white-space: nowrap;
}
.rollingBanner .textWrap div{
    font-size: 8vw;
    line-height: 1.3;
    font-weight: 700;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}
.rollingBanner .trackTop{
    animation: textMoveRight 10s linear infinite;
}
.rollingBanner .trackBtm{
    animation: textMoveLeft 10s linear infinite;
}

@keyframes textMoveRight {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes textMoveLeft {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}



/*Works Section*/
/*.works{*/
/*    width: 80%;*/
/*    margin: 0 auto;*/
/*    padding: 100px 0;*/
/*}*/
/*.works .slideArea{}*/
/*.works .slideArea .imgSlider{*/
/*    margin-bottom: 60px;*/
/*}*/
/*.works .slideArea .imgSlider img{*/
/*    margin-bottom: 30px;*/
/*    width: 40vw;*/
/*    height: 100%;*/
/*}*/
/*.works .slideArea .imgSlider .slick-slide{*/
/*    !*margin: 0 30px;*!*/
/*}*/
/*.works .slideArea .imgSlider .slick-slide .img{*/
/*    transform: scale(0.8);*/
/*    transform-origin: 50% 50%;*/
/*    transition: 0.6s;*/
/*}*/
/*.works .slideArea .imgSlider .slick-center img{*/
/*    scale: 1;*/
/*}*/

/*.works .slideArea{*/
/*    position: relative;*/
/*    margin-bottom: 150px;*/
/*}*/
.works{
    width: 80%;
    margin: 0 auto;
}
.works .slideArea {
    width: 100%;
}
.works .slideArea  .slick-list{
    margin-bottom: 30px;
}
.works .slideArea  .slick-slide{
    overflow: hidden;
    /*margin: 0 30px;*/
}
.works .slideArea .slick-slide .imgArea{
    transform: scale(0.8);
    transform-origin: 50% 50%;
    transition: 0.6s;
    margin: 0 auto 30px;
}
.works .slideArea .slick-slide .imgArea a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.works .slideArea .slick-center .imgArea{
    transform: scale(1);
}


.works .slideArea .projectName{
    text-align: center;
    font-size: 1.5vw;
    font-weight: 700;
    margin-bottom: 30px;

    opacity:0;
    transition: 0.6s;
}
.works .slideArea .btnWrap{
    display: flex;
    gap: 15px;
    justify-content: center;

    opacity:0;
    transition: 0.8s;
}
.works .slideArea .btnWrap div{
    width: 30%;
    border: 1px solid #fff;
    padding: 12px 0;
    text-align: center;
    border-radius: 30px;
    font-size: 1vw;
}
.works .slideArea .btnWrap div:hover{
    color: #F95700;
}

.works .slick-slide.slick-active .projectName,
.works .slick-slide.slick-active .btnWrap{
    transform: translateY(0);
    opacity: 1;
}
.works .dotsWrap{
    display: flex;
    justify-content: center;
}
.works .dotsWrap .customDots{
    font-size: 0;
}
.works .dotsWrap .customDots li{
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #fff;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}
.works .dotsWrap .customDots li.slick-active{
    background: #F95700FF;
}
.works .dotsWrap .customDots li button{
    display: none;
}


/*Contents Section*/
.contents{
    width: 100%;
    padding: 100px 0;
}
.contents .contentsWrap{
    display: flow-root;
    width: 1450px;
    margin: 0 auto;
}
.contents .contentsWrap div{
    float: left;
    margin: 15px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents .contentsWrap div:hover button{
    opacity: 1;
    height: 100%;
    width: 100%;
}
.contents .contentsWrap div button{
    position: absolute;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 0;
    border: none;
    transition: .5s;
    cursor: pointer;
}



/*Footer*/
.footer{
    width: 100%;
    padding: 0 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.footer span{
    display: block;
}
.footer .footLeft{
    font-size: 160px;
    font-weight: 800;
}
.footer .footRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}



/*Media 1024*/
@media (max-width: 1024px) {
    /*Header*/
    .headerWrap{
        margin: 0 40px;
    }
    .headerWrap nav .gnb li a {
        width: 120px;
    }


    /*Intro Section*/
    .intro .shakeImg{
        position: absolute;
        left: 50%;
        top: 7%;
    }


    /*About Section*/
    .aboutContents .rightBox .textWrap strong{
        font-size: 22px;
    }
    .aboutContents .rightBox .textWrap .contactList li{
        font-size: 16px;
        background-size: 20px 20px;
        line-height: 20px;
    }
    .aboutContents .rightBox .textWrap .contactList li:nth-child(2) {
        margin-top: 7px;
    }
    .aboutContents .rightBox .textWrap p{
        font-size: 16px;
    }


    /*nfoArea Section*/
    .infoArea strong {
        font-size: 22px;
    }
    .infoTop {
        margin-bottom: 40px;
    }


    /*TextCard Section*/
    .textCard {
        padding: 80px 0;
    }
    .textCard .cardWrap .card{
        width: 200px;
        height: 200px;
    }
    .textCard .cardWrap .card span {
        font-size: 24px;
    }



    /*RollingBanner*/
    .rollingBanner .textWrap div{
        font-size: 96px;
    }



    /*Works Section*/
    .works{
        padding: 80px 0;
    }


    /*Contents Section*/
    .contents .contentsWrap {
        width: 870px;
    }

    /*Footer*/
    .footer{
        padding: 0 70px;
    }
    .footer .footLeft{
        font-size: 90px;
        font-weight: 800;
    }
}



/*Media 768*/
@media (max-width: 768px) {
    /*Header*/
    .header{
        height: 70px;
    }
    .header .headerWrap{
        margin: 0 40px;
        border: 1px solid #fff;
    }
    .header .headerWrap nav .gnb{
        display: none;
    }
    .header .headerWrap .headerIco{
        display: none;
    }
    .header .popupBtn{
        display: block;
    }




    /*Intro Section*/
    .intro .shakeImg{
        position: absolute;
        left: 50%;
        top: 7%;
    }


    /*About Section*/
    .aboutContents .rightBox .textWrap strong{
        font-size: 22px;
    }
    .aboutContents .rightBox .textWrap .contactList li{
        font-size: 16px;
        background-size: 20px 20px;
        line-height: 20px;
    }
    .aboutContents .rightBox .textWrap .contactList li:nth-child(2) {
        margin-top: 7px;
    }
    .aboutContents .rightBox .textWrap p{
        font-size: 16px;
    }


    /*nfoArea Section*/
    .infoArea strong {
        font-size: 22px;
    }
    .infoTop {
        margin-bottom: 40px;
    }


    /*TextCard Section*/
    .textCard {
        padding: 80px 0;
    }
    .textCard .cardWrap .card{
        width: 200px;
        height: 200px;
    }
    .textCard .cardWrap .card span {
        font-size: 24px;
    }



    /*RollingBanner*/
    .rollingBanner .textWrap div{
        font-size: 96px;
    }



    /*Works Section*/
    .works{
        padding: 80px 0;
    }


    /*Contents Section*/
    .contents .contentsWrap {
        width: 870px;
    }

    /*Footer*/
    .footer{
        padding: 0 70px;
    }
    .footer .footLeft{
        font-size: 90px;
        font-weight: 800;
    }
}